.Home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    margin: 0 10vw;
    .products-title {
      font-size: calc(2rem + 1.5vw);
      font-weight: bold;
      letter-spacing: 0.1rem;
    }
    .products-container {
      display: flex;
      flex-wrap: wrap;
      background-color: #282c34;
      width: 100%;
    }
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
  