.Navbar {
    z-index: 1000;
    position: sticky;
    position: -webkit-sticky;   // safari compatibility
    top: 0;
    width: 100%;
    height: calc(70px + 0.7vw);
    background-color: darken($color: #282c34, $amount: 2);
    border-bottom-color: darken(#282c34, 5%);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    .shoplogo {
        width: calc(230px + 12vw);
        &:hover {
            cursor: pointer;
            box-shadow: inset 0 0 100px 100px lighten(#282c34, 1);
        }
    }
    a:link {
        text-decoration: inherit;
    }
    a:visited {
        color: inherit;
    }
    a:hover {
        box-shadow: inset 0 0 100px 100px lighten(#282c34, 1.5);
    }
    .cart-link {
        font-size: calc(1.5rem + 1vw);
    }
}