.ProductCard {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    border-radius: 15px;
    margin: 12px;
    padding: 12px;
    background-color: darken($color: #282c34, $amount: 2);
    width: 200px;
    height: 300px;
    &:hover {
        cursor: pointer;
        .info-container .name {
            color: hotpink;
        }
    }
    .image-container {
        background-color: darken($color: #282c34, $amount: 3);
        .image {
            width: 200px;
            height: 200px;
            object-fit: scale-down;
        }
    }
    .info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        .price-container {
            font-weight:bold;
            .major {
                font-size: 28px;
            }
            .minor {
                font-size: 18px;
            }
            .unavailable {
                font-size: 20px;
            }
        }
        .name {
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 16px;
        }
    }
}